<!-- <form #formCar="ngForm" (ngSubmit)="onSubmit(formCar.value)">

    <select name="Rmarca" id="Rmarca" [(ngModel)]="selectedMarca.name" (change)="CarroSelected($event)">
        <option *ngFor="let marca of marcas" value="{{marca.name}}">
            {{marca.name}}
        </option>
    </select>
    
        <select name="Rmodelo" id="Rmodelo" [(ngModel)]="selectedModelo.name">
            <option *ngFor="let modelo of modelos" value="{{modelo.name}}">
                {{modelo.name}}
            </option>
        </select>
    
        <button type="submit">Enviar</button>
    
    </form>
    
    <table >
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carro of carros">
            <td>{{ carro.marca }}</td>
            <td >{{ carro.modelo }}</td>
          </tr>
        </tbody>
      </table>
    
    
    
    
     -->